<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Blog Finder</title>
</head>
<body>
<h1>블로그 검색 도우미</h1>
<form action="/api/blog-search" method="get">
  <input type="text" name="searchValue" placeholder="검색...">
  <button type="submit">검색</button>
</form>
<form action="/api/search-term/ranking" method="get">
    <button type="submit">인기 검색어 조회</button>
</form>
<hr>
<form action="/api-docs" method="get">
    <button type="submit">API docs</button>
</form>
</body>
</html>